# Built application files
*.apk
*.aab
*.ap_
*.a_

# Files for the ART/Dalvik VM
*.dex

# Built output directories
/build
/app/build

# Android Studio/IntelliJ
.idea/
.gradle/
local.properties
*.iml
*.hprof
captures/

# Keystore files
*.jks
*.keystore

# Gradle
gradle-app.setting
.gradletasknamecache
.gradle-scan/
